extends newbase

block content
  .page-container
    .dashboard-container
      .dash-wrap
        include _dashboardnav
        .dashboard
          #profile.account-sections
            h1= title
            
            table#history-table
              tr 
                th Date
                th Order Number
                th Service
                th Order Status

              if orders.length == 0
                tr
                  td(colspan='4')
                    .text.center No completed orders to display.
              else
                each order in orders
                  tr
                    td= order.orderDate
                    td= order.orderNumber
                    td= order.service
                    td= order.status