extends newbase

block content
  .wrapper
    .content.dashboard
      .dashboard-container 
        .dashboard-content
          #profile.account-sections
            .content-subtitle Profile Settings
            .profile-col-container#profile-view
              i.fa-regular.fa-pen-to-square#editprofile
                .fa-text Edit
              .profile-column
                .profile-row
                  .profile-subtitle Name
                  .profile-item= `${user.name.firstName} ${user.name.lastName}`
                .profile-row
                  .profile-subtitle Email
                  .profile-item= `${user.email}`
                .profile-row
                  .profile-subtitle Phone
                  if (user.phone == undefined)
                    .profile-item.address= `Phone:`
                  else 
                    .profile-item.address= `${user.phone}`
              .profile-column
                .profile-row
                  .profile-subtitle Company
                  if (user.company == undefined)
                    .profile-item.address= `Company:`
                  else 
                    .profile-item.address= `${user.company}`
                .profile-row
                  .profile-subtitle Mailing Address
                  if (user.address.street1 == undefined)
                    .profile-item.address= `Street Address:`
                  else 
                    .profile-item.address= `${user.address.street1}`
                  .profile-item-columns
                    if (user.address.city == undefined)
                      .profile-item.address= `City: `
                    else 
                      .profile-item.address= `${user.address.city}`
                  .profile-item-columns
                    if (user.address.state == undefined)
                      .profile-item.address= `State: `
                    else 
                      .profile-item.address= `${user.address.state}`
                    if (user.address.zip == undefined)
                      .profile-item.address= `Zip: `
                    else
                      .profile-item.address= `${user.address.zip}`
            form(autocomplete='off').profile-col-container#profile-edit
              button.submit#update-profile
                i.fa-regular.fa-square-check
                  .fa-text Save
              .profile-column
                .profile-subcolumns 
                  .profile-column-row
                    label.profile-subtitle(for='name') Name
                    input.profile-item(id="firstName" name='firstName' type='text' value=`${user.name.firstName}`, required)
                  .profile-column-row
                    input.profile-item(id="lastName" name='lastName' type='text' value=`${user.name.lastName}`, required)
                .profile-row
                  label.profile-subtitle(for='email') Email
                  input.profile-item(id="email" name='email' type='email' value=`${user.email}`, required)
                .profile-row
                  label.profile-subtitle(for='phone') Phone
                  if (user.phone == undefined)
                    input.profile-item(id="phone" name='phone' type='text' placeholder='Please enter a phone number' value='')
                  else 
                    input.profile-item(id="phone" name='phone' type='text' value=`${user.phone}`)
              .profile-column
                .profile-row
                  label.profile-subtitle(for='company') Company
                  if (user.company == undefined)
                    input.profile-item(id="company" name='company' type='text', placeholder='Please enter company name' value='')
                  else 
                    input.profile-item(id="company" name='company' type='text', value=`${user.company}`)
                .profile-row
                  label.profile-subtitle(for='address') Mailing Address
                  if (user.address.street1 == undefined)
                    input.profile-item(id="street1" name='street1' type='text' placeholder='Please enter street address' value='')
                  else 
                    input.profile-item(id="street1" name='street1' type='text' value=`${user.address.street1}`)
                  .profile-item-columns
                    if (user.address.city == undefined)
                      input.profile-item(id="city" name='city' type='text' value='' placeholder='City')
                    else 
                      input.profile-item(id="city" name='city' type='text' placeholder='City' value=`${user.address.city}`)
                  .profile-item-columns
                    if (user.address.state == undefined)
                      input.profile-item(id="state" name='state' type='text' value='' placeholder='State')
                    else 
                      input.profile-item(id="state" name='state' type='text' placeholder='State' value=`${user.address.state}`)
                    if (user.address.zip == undefined)
                      input.profile-item(id="zip" name='zip' type='text' value='' placeholder='Zip')
                    else
                      input.profile-item(id="zip" name='zip' type='text' placeholder='Zip' value=`${user.address.zip}`)
            
            details       
              summary.content-subtitle Change Password
              form.form-user-password
                      .profile-row
                        label.profile-subtitle(for='password-current') Current password
                        input#password-current.profile-item(type='password', required, minlength='8')
                      .profile-row
                        label.profile-subtitle(for='password') New password (a minimum of 8 characters is required)
                        input#password.profile-item(type='password', autocomplete='new-password', required, minlength='8')
                      .profile-row
                        label.profile-subtitle(for='password-confirm') Confirm password
                        input#password-confirm.profile-item(type='password', autocomplete='new-password', required, minlength='8')
                      .profile-row
                        button.submit.form-button.btn--save-password Save password